<h2 class="text-center">Our Services</h2>
<hr/>
<div ng-controller="ServicesTabCtrl"> 
    <ul class="nav nav-tabs w-100">
        <li ng-repeat ="service in services" class="nav-item w-50">
            <a class="nav-link text-center" ng-click="showServices(service.id)" href="" ng-class="{'active': service.id == activeItem}"><h3>{{service.name}}</h3></a>
        </li>
    </ul>
    <loader loading="loading"></loader>
    <br/>
    <div class="row text-center">   
        <div ng-repeat="svcItem in activeServiceList" class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <a ng-click="loadDetails(svcItem.id, svcItem.name)" href="#{{svcItem.id}}"><img class="card-img-top" src="http://placehold.it/500x325" alt=""></a>

                <div class="card-body">
                    <h4 class="card-title">{{svcItem.name}}</h4>
                    <p class="card-text">{{svcItem.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div ng-if="selectedService">
        <hr>
        <h2 id="svcdetail">{{selectedService}}</h2>
        <hr>
        <servicedetail svccontent="selectedServiceObj"></servicedetail>
    </div>
</div>