<footer class="py-5 bg-dark">
    <div class="row ml-2 mr-2">
        <div class="container w-25">
            <h5 class="text-white">Connect with us!</h5>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
        </div>
        <div class="container w-25">
            <h5 class="text-white">Contact Us</h5>
            <p class="text-muted">2 Yishun Industrial Street 1 <br/>
            #06-29 <br/>
            Singapore 768159<br/>
            (+65) 6635 1675<br/>
            hypertechacs@gmail.com</p>
        </div>
        <div class="container w-25">
            <h5 class="text-white">About Us</h5>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto</p>
            <p class="text-white">Company Copyright © 2018</p>
        </div>
    </div>
        
    
    <div class="container">
        <!-- <p class="m-0 text-white">Copyright &copy; Your Website 2018</p> -->
    </div>
    <!-- /.container -->
</footer>